body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.title {
    color: #0058a4;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.informacion > p{
    color: #767676;
    font-size: 14px;
}

.footer-copyright{
    height: 50px;
    background-color: #5c2040;
    color:#FFF;
    padding-top: 15px;
}

.footer-copyright-admin {
    height: 50px;
    background-color: #222222;
    color: #FFF;
    padding-top: 15px;
}

.container-fluid {
    background-color: #f0f0f0;
    padding-top: 10px;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
}

.content {
    width: 75%;
    float: left;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
}


.navbar-collapse, navigation {
    padding-left: 0px !important;
}

nav{
    margin-bottom: 0px !important;
}

.container-nav {
    background-color: #e95420 !important;
    padding-top: 0px !important;
}
