@using Microsoft.AspNet.Identity
@if(Request.IsAuthenticated){
<ul class="nav navbar-nav">
    @*<li>@Html.ActionLink("Dashboard", "Index", "Home")</li>*@
    <li><a href="~/Admin/Dashboard/Index">Dashboard</a></li>
</ul>
}
